<h1> Registration form </h1>
<p> Please fill out this form with the required information </p>
<form>
    <!-- Personal Information -->
    <fieldset>
        <label> 1. Enter your Age 
            <input type="number" name="age" [(ngModel)] = "age" />
        </label>
        <label> 2. Choose your Sex 
            <input/>
        </label>
        <label> 3. What is the highest formal education? </label>
        <label> 4. What is your annual income from all sources?($USD) </label>
        <label> 5. Have you been married? </label>
        <label> 6. Your current work type? </label>
        <label> 7. What is your residance type? </label>
    </fieldset>
    <!-- Indepented variables -->
    <fieldset>
        <label> 8. Do you have hypertension? </label>
        <label> 9. Do you have a high level of Cholesterol? </label>
        <label> 10. Have you tested you Cholesterol level in the past 5(five) years? </label>
        <label> 11. Enter your BMI </label>
        <label> 12. Enter your average blood glucose level </label>
        <label> 13. Are you a smoker? </label>
        <label> 14. Have you ever had a stroke? </label>
        <label> 15. Do you have CHD, or MI? </label>
        <label> 16. Have you done any pysichal activity in the last 30 days?</label>
        <label> 17. Do you consume at least 1(one) fruit per day?</label>
        <label> 18. Do you consume at least 1(one) vegetable per day? </label>
        <label> 19. Are you a heavy drinker? (Men - more than 14 drinks per week, Woman - more than 7 drinks per week) </label>
        <label> 20. Do you have any type of Healthcare? </label>
        <label> 21. Was there a time in the past 12 months when you needed to see a doctor but could not beacuse of cost? </label>
    </fieldset>
    <!-- General Health Questions -->
    <fieldset>
        <label> 22. Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor </label>
        <label> 23. Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many days during the past 30 days was your mental health not good? </label>
        <label> 24. Now thinking about your physical health, which includes physical illness and injury, for how many days during the past 30 days was your physical health not good?</label>
        <label> 25. Do you have serious difficulty walking or climbing stairs?</label>
    </fieldset>




</form>
<!-- [ (ngModel) ] = "naziv polja"-->